<h2 class="content-head is-center">Show Maker Signup</h2>

<form id="signup" method="post" action="/signup">

    <% if tenant && tenant.errors.any? %>
    <h4 class="invalid"><%= tenant.errors.full_messages.to_sentence %></h4>
    <% end %>

    <label>
      Your Name
      <input id="name" name="name" type="text" placeholder="Your Name" value="<%= params['name'] %>">
    </label>

    <label>
      Company Name
      <input id="company" name="company" type="text" placeholder="Company" value="<%= params['company'] %>">
    </label>

    <label>
      Email
      <input id="email" name="email" type="email" placeholder="Email Address" value="<%= params['email'] %>">
    </label>

    <label>
      Login
      <input id="login" name="login" type="text" placeholder="Your Login">
    </label>

    <label for="password">
      Password
      <input id="password" name="password" type="password" placeholder="Your Password" value="<%= params['password'] %>">
    </label>

    <button type="submit" class="pure-button">Sign Up</button>

</form>
